h4{
    margin: 0;
}

.moviesTab{
   padding: 63px 77px;
}

.searchTab{
    margin-bottom: 50px;
}

.searchTab input{
    width: 100%;
    font-size: 30px;
    outline: none;
    border-radius: 2px;
    height: 54px;
    border: 1px solid #000000;
    border-radius: 0px;
    padding-left: 10px;
}

.searchTab h4{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4px;
}

.movieFlex{
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    gap: 13px;
}

.movieFlex::-webkit-scrollbar{
    width: 0;
}

.movieFlex h3{
    height: 280px;
    width: 280px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    padding: 50px;
}

.movies{
    margin-top: 30px;
    width: 100%;
}
.cate{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 24px;
}

@media(max-width:900px){
   
}

@media(max-width: 450px){
    .moviesTab{
        padding: 56px 28px;
    }
    
    .movieFlex h3{
        width: 200px;
        height: 200px;
        font-size: 18px;
    }

    .cate{
        font-size: 18px;
    }

    .searchTab h4{
        font-size: 16px;
    }

    .searchTab input{
        height: 34px;
    }
}