.theme {
  background-image: url("https://res.cloudinary.com/dvo8xhx6r/image/upload/v1647940656/Rectangle_5_kokhpp.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 80px;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.theme h1 {
  margin: 0;
  color: #fff;
  width: 300px;
  font-size: 72px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  line-height: 93.74px;
}

@media (max-width: 530px) {
  .theme {
    padding-left: 0px;
    justify-content: center;
    text-align: center;
    min-height: 60vh;
  }
}

@media (max-width: 530px) {
  .theme h1 {
    font-size: 50px;
    line-height: normal;
  }
}
