.App{
  margin: 0;
  padding: 0;
}

.App-header{
  background-color: #292929;
  padding: 40px 77px;
}

.App-header h1{
  margin: 0;
  border: 1px solid #fff;
  color: #fff;
  display: inline;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
  padding: 14px 19px;
  font-size: 32px;
}

@media(max-width:900px){
  .App-header{
    text-align: center;
  }
}


@media(max-width: 450px){
  .App-header{
    padding: 17px;
  }
  .App-header h1{
    padding: 8px 11px;
    font-size: 18px;
  }
}
